@use "../../styles/vars";

.NavLink p {
    text-decoration: none;
    color: var(--very-light-pink);
    padding: 3px 10px;
    border: 1px solid var(--background);
    font-size: var(--md);
}

.NavLink p:hover {
    padding: 3px 10px;
    text-decoration: none;
    color: var(--hospital--green);
    border: 1px solid var(--hospital--green);
    border-radius: 5px;
    cursor: pointer;
}
