@use "../../styles/vars";

.product-detail-container {
    position: absolute;
    top: 60px;
    width: 100%;
    height: 93vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    background-color: #0c0c0de1;
}
.product-detail-complete {
    position: relative;
    width: 360px;
    padding-bottom: 24px;
    background-color: var(--background);
    -webkit-box-shadow: 0px 0px 11px -1px #000000;
    box-shadow: 0px 0px 11px -1px #000000;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
}

.icon-close {
    width: 44px;
    height: 44px;
    background-color: rgba(0, 0, 0, 0.555);
    border-radius: 50%;
    position: absolute;
    z-index: 2;
    padding: 12px;
    top: 12px;
    left: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.product-detail-close {
    width: 44px;
}
.product-detail-close:hover {
    cursor: pointer;
}

.add-to-cart-button {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 640px) {
    .product-detail-container {
        background-color: transparent;
    }
    .product-detail {
        flex-direction: column;
        width: 100%;
        height: 93vh;
        border-radius: 0px;
        transform-origin: bottom;
        transform: translateY(100%);
        transition: all 0.15s ease-in-out;
    }
    .product-detail-complete {
        flex-direction: column;
        width: 100%;
        height: 93vh;
        border-radius: 0px;
        transform-origin: bottom;
        animation: up 0.3s ease;
        // transform: translateY(0);
        transition: all 0.3s ease-in-out;
    }
}

@media (min-width: 641px) and (max-width: 1000px) {
    .product-detail-complete {
        flex-direction: column;
        width: 90%;
        animation: pop 0.3s ease;
    }
    .product-detail {
        flex-direction: column;
        width: 90%;
        transform: scale(0);
        opacity: 0%;
        transition: all 0.15s ease-in-out;
    }
}
@media (min-width: 1001px) {
    .product-detail {
        width: 800px;
        padding-bottom: 0;
        transform: scale(0);
        opacity: 0%;
        transition: all 0.15s ease-in-out;
        position: relative;
        background-color: var(--background);
        -webkit-box-shadow: 0px 0px 11px -1px #000000;
        box-shadow: 0px 0px 11px -1px #000000;
        border-radius: 20px;
        overflow: hidden;
        display: flex;
    }
    .product-detail-complete {
        width: 800px;
        padding-bottom: 0;
        animation: pop 0.3s ease;
    }
    .product-detail-close {
        width: 0;
    }
}

@keyframes up {
    0% {
        transform: translateY(+100%);
    }
    100% {
        transform: translateY(0);
    }
}
@keyframes pop {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
