:root {
    --background: #0C0C0D;
    --white: #FFFFFF;
    --black: #000000;
    --very-light-pink: #778899;
    --text-input-field: #303C48;
    --hospital--green: #0064FF;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
}