@use "../../styles/vars";

.mobile-menu {
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh; 
}

.mobile-menu a {
    text-decoration: none;
    color: var(--white);
    font-weight: bold;
}

.mobile-menu ul {
    padding: 0;
    margin: 24px 0 0 0;
    list-style: none
}

.mobile-menu ul:nth-child(1) {
    border-bottom: 1px solid var(--text-input-field);
}

.mobile-menu ul li{
    margin-bottom: 40px;
}

.mobile-menu ul:nth-child(3){
    margin-bottom: 15px;
}

.mobile-menu .email {
    font-size: var(--sm);
    color: var(--very-light-pink);
    font-weight: 300;
}

.mobile-menu .sing-out {
    color: var(--hospital--green);
    font-size: var(--sm);
}