@use "../../styles/vars";

.desktop-menu {
    width: 132px;
    height: auto;
    // border: 1px solid var(--very-light-pink);
    border-radius: 20px;
    padding: 20px 20px 0 20px;
    box-shadow: 0px 0px 11px 2px var(--black);
    background-color: var(--background);
    position: absolute;
    top: 61px;
    right: 50px;
    z-index: 3;
}

.desktop-menu__ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.desktop-menu__ul li {
    text-align: end;
}

.desktop-menu__ul li:nth-child(1),
.desktop-menu__ul li:nth-child(2) {
    font-weight: bold;
}

.desktop-menu__ul li:last-child {
    padding-top: 20px;
    border-top: 1px solid var(--very-light-pink);
}

.desktop-menu__ul li:last-child a {
    color: var(--hospital--green);
    font-size: var(--md);
}

.desktop-menu__ul li a {
    color: var(--white);
    text-decoration: none;
    margin-bottom: 20px;
    display: inline-block;
    font-size: var(--md);
}

.desktop-menu__ul li:last-child a:hover {
    color: #0e57c5;
}
.desktop-menu__ul li:nth-child(1) a:hover,
.desktop-menu__ul li:nth-child(2) a:hover {
    color: var(--very-light-pink);
}
