@use "../../styles/vars";

.ProductItem {
    // width: 240px;
    animation: fadeIn 0.5s ease;
}
.ProductItem:hover .ProductItem-img {
    transform: scale(1.05);
    transition: all 0.5s;
}
.ProductItem-img {
    width: 240px;
    height: 240px;
    border-radius: 20px;
    object-fit: cover;
    cursor: pointer;
    transition: all 0.5s;
}

.ProductItem-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
}

.ProductItem-info figure {
    margin: 0;
}
.ProductItem-info figure img {
    width: 35px;
    height: 35px;
    cursor: pointer;
}
.ProductItem-info div {
    cursor: pointer;
}
.ProductItem-info div p:nth-child(1) {
    font-weight: bold;
    font-size: var(--md);
    color: var(--white);
    margin-top: 0;
    margin-bottom: 4px;
}

.ProductItem-info div p:nth-child(2) {
    font-size: var(--sm);
    color: var(--very-light-pink);
    margin-top: 0;
    margin-bottom: 0;
}

.IconAddShoppingCart {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: var(--backgound);
    // color: var(--button-color--purchase);
    min-width: 36px;
    height: 36px;
    font-size: 1.4rem;
    background-color: var(--button-color--purchase);
}
@media (max-width: 640px) {
    .productItem {
        width: 140px;
    }
    .ProductItem-img {
        width: 140px;
        height: 140px;
        border-radius: 20px;
        object-fit: cover;
    }
}

@keyframes fadeIn {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
